<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zerone.example">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.zerone.example.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.zerone.example.CannonTest"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.zerone.example.CannonGravityTest"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.zerone.example.CollisionTest"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.zerone.example.Camera2DTest"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.zerone.example.TextureAtlasTest"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.zerone.example.SpriteBatcherTest"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.zerone.example.AnimationTest"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.zerone.example.SuperJumper"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.zerone.example.Vertices3Test"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.zerone.example.PerspectiveTest"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.zerone.example.ZBufferTest"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.zerone.example.ZBlendingTest"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.zerone.example.CubeTest"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.zerone.example.HierarchyTest"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.zerone.example.LightTest"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.zerone.example.EulerCameraTest"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.zerone.example.ObjTest"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.zerone.example.Invaders"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation"/>
    </application>

</manifest>